<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("layouts/head") %>

	<body>
		<!-- Navigation-->
		<%- include("layouts/nav") %>

			<!-- Page Header-->
			<header class="masthead" style="background-image: url('/assets/img/background.jpg')">
				<div class="container position-relative px-4 px-lg-5">
					<div class="row gx-4 gx-lg-5 justify-content-center">
						<div class="col-md-10 col-lg-8 col-xl-7">
							<div class="site-heading">
								<h1>Admin</h1>
								<span class="subheading">Driving Test Results</span>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Main Content-->
			<main class="container mt-4">
				<!-- Search Bar -->
				<div class="row mb-3">
					<div class="col">
						<div class="input-group">
							<input type="text" id="search-driving-test-input" class="form-control" placeholder="Search for the exam result here">
							<button class="btn btn-primary ms-2" id="search-driving-test-results" type="button">Search</button>
						</div>
					</div>
				</div>

				<!-- Table -->
				<div class="row">
					<div class="col">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">License Number</th>
									<th scope="col">Driver Name</th>
									<th scope="col">Car Plate Number</th>
									<th scope="col">Test Type</th>
									<th scope="col">Exam Result</th>
								</tr>
							</thead>
							<tbody id="appointmentTableBody"></tbody>
						</table>
						<div class="align-right">
							<button class="btn btn-primary ms-2" id="download-results" type="button">Download Results</button>
						</div>
					</div>
				</div>
			</main>

			<!-- Footer-->
			<%- include("layouts/footer") %>

				<!-- Scripts -->
				<%- include("layouts/script") %>
					<script src="js/admin-test-results-script.js"></script>
	</body>

</html>